@import url("fonts.css");

body {
	color:white;
	font-family: 'Press Start 2P';font-size: 20px;
	display:flex;
	flex-direction:column;
	background-color:black;
	text-align:center;
	}
#choose{
	font-family: "montserrat-regular", sans-serif;
}
.logo-link{
	width:20%;
	margin:0 auto;
}
.logo-link img{
		width:100%;
	}	

.box{
	display:flex;
	flex-direction:row;
	filter: contrast(20%);
	filter: blur(0.6px);
	filter: brightness(70%);
	border: 2px solid black;

}
.box:hover{
	cursor:pointer;
	filter: contrast(100%);
	filter: blur(0px);
	filter: brightness(105%);
}
.main{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:90%;
	margin:0 auto;
	background-color:black;
}
.box{
	width:33%;
	height:45vh;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;
	background-position:30%50%;
	background-repeat:no-repeat;
	background-size:cover;
}
#box1{
	font-family: "montserrat-semibold", sans-serif;
	background-image:url("../images/template_modern.png");	
}
#box2{
	font-family: 'Press Start 2P';font-size: 20px;
	background-image:url("../images/template_arcade.png");	
}
#box3{
	font-family: 'Bowlby One SC', cursive;
	background-image:url("../images/template_classic.png");	
}
@media only screen and (max-width: 600px) {
	.logo-link{
		width:50%;
	}
	.box{
		width:100%;
	}
}