@import url("fonts.css");

body {
	color:white;
	background-color: #232326;
	display:flex;
	flex-direction:column;
	}
.topnav{
	font-family: 'Bowlby One SC', cursive;
    font-size: 18px;
    line-height: 1.8;
	width:100%;
	background-color: rgba(0,0,0,0.5);
	position:fixed;
	left:0;
	top:0;
	z-index:999;
}
.topnav:hover{
	background-color: rgba(0,0,0,1);

}
.topnav ul{
	display:flex;
	flex-direction:row;
	width:80%;
	margin: 0 auto;
	list-style-type: none;
}
.topnav ul li{
	margin: 2% auto;
	width:10%;
	margin-left:5%;
}

.topnav ul li:nth-child(4){
	margin-top:1%;
	width:25%;
}
.topnav ul li:nth-child(1){
	margin-left:-3.5%;
}
.topnav ul li a{
text-decoration: none;
color:white;

}
#logo{
	margin-left:5%;
	width:200px;

}
.nav{
	display:none;
}
.menu{
	display:none;
}

/*NAV MOBILE*/
@media only screen and (max-width: 600px) {
	.topnav{display:none;}

	.menu{
		width:100%;
		background-color: rgba(0,0,0,1);
		position:fixed;
		left:0;
		top:0;
		z-index:999;
		display:flex;
		
	}
	.menu a:nth-child(1){
		width:50%;
		margin-top: 10px;
		margin-left: 20px;

	}
	.menu a:nth-child(2){

		width:50%;
		margin-top: 10px;
		margin-right: 20px;

	}
	.fas{
		width:50%;
		color:#fcde00;
		font-size:50px;
	}


	/*NAV SIDEBAR*/

	.nav {
		display:flex;
		background: #0C0C0C;
		color:  rgba(255, 255, 255, 0.5);
		font-family: 'Bowlby One SC', cursive;
		font-size: 18px;
		line-height: 1.8;
		padding: 30px 40px 30px 40px;
		height: 100%;
		width: 50%;
		position: fixed;
		left: 0;
		top: 30px;
		z-index: 700;
		overflow-y: auto;
		overflow-x: hidden;
		transition: all 0.5s ease;
		transform: translateX(-100%);
	}
	.nav a, .nav a:visited {
		color: rgba(255, 255, 255, 0.5);
	}

	.nav a:hover,
	.nav a:focus,
	.nav a:active {
		color: #fcde00;
		text-decoration:none;
		
	}
	.nav h3 {
		font-family: 'lora-regular',sans-serif;
		font-size: 11px;
		line-height: 1.5px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 20%;
		margin-top:16%;
		margin-left:5%;
		color: #fcde00;
		padding-left: 4px;
	}

	.nav-options {
		font-family: 'Bowlby One SC', cursive;
		font-size: 16px;
		list-style: none;
		margin-top:20%;
		margin-left:-15%;
		left:0;

	}
	.nav-options li {
		padding-top:10px;
	}
	.nav-options a,
	.nav-options a:visited {
		color: white;
	}
	.nav-social {
		list-style: none;
		display: inline-block;
		margin: 0;
		font-size: 22px;
		margin-left:-15%;
	}
	.nav-social li {
		margin-right: 12px;
		padding-left: 0;
		
		display: inline-block;
		
	}
	.nav-close {
		display: block;
		height: 30px;
		width: 30px;
		border-radius: 3px;
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 36px;
		right: 30px;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		z-index: 800;
		float:left;
	}
	.nav-close span::before, 
	.nav-close span::after {
		content: "";
		display: block;
		height: 2px;
		width: 12px;
		background-color: white;
		position: absolute;
		top: 50%;
		left: 9px;

	}

	.nav-close span::before {
		transform: rotate(-45deg);
	}

	.nav-close span::after {
		transform: rotate(45deg);
	}

	.menu-is-open .nav {
		transform: translateX(0);
		visibility: visible;
		-webkit-overflow-scrolling: touch;
	}

	.menu-is-open .nav .nav-content {
		opacity: 1;
		visibility: visible;
		transition-property: all;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
		transition-delay: 0.3s;
		margin-left: -20%;

	}
}
/*HOME*/
.home{
	width:100%;
	display:flex;
	flex-direction:column;
	height:100vh;
	background-image:url("../images/pattern.png"); 
	background-repeat:no-repeat; 
	background-size:cover; 
	background-color: #1e1e21;

}
.home-content{
	width:90%;
	margin:0 auto;
	margin-top:9%;
	display:flex;
	flex-direction:row;
}
	
.big-box{
	background-image:url("../images/sor_art_2.jpg"); 
	background-repeat:no-repeat; 
	background-size:cover; 
	background-position:70% 30%;
	width:42.5%;
	height:73vh;
	margin-left:5%;
}
.home-content .big-box .small-box{
	background-color: #1e1e21;
	height:35%;
	width:80%;
	margin-left:5%;
	margin-top:57%;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;
	background-image:url("../images/texture.jpg"); 
	background-position:100% 100%


}
.home-content .big-box2{
	margin-left:5%;
	height:70vh;
	width:42.5%;
}

.home-content .big-box2 .small-box{
	background-color: #1e1e21;
	height:45%;
	width:100%;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;
	background-image:url("../images/texture.jpg"); 
	background-position:100% 100%;

}
.home-content .big-box .small-box h4{
	font-family: 'lora-regular',sans-serif;
	line-height:1.3;
	letter-spacing:1px;
	font-size:18px;
	padding:10px 10px;

}
.home-content .big-box .small-box h3{
	padding:10px 10px;
	line-height:1.7;
	letter-spacing:1px;
	font-family: 'Bowlby One SC', cursive;


}
.home-content .big-box2 .small-box:nth-child(2){
	margin-top:10%;

}
.home-content .big-box2 .small-box .small-box-image{
	height:70%;
	width:100%;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;

}
.home-content .big-box2 .small-box .small-box-desc{
	height:30%;
	width:100%;
	padding-left:2%;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;
	background-image:url("../images/texture.jpg"); 
	background-position:100% 100%;
}
.home-content .big-box2 .small-box:nth-child(1) .small-box-image{

	background-image:url("../images/city.gif"); 
	background-position:50% 8%;
}
.home-content .big-box2 .small-box:nth-child(2) .small-box-image{
display:flex;
flex-direction:row;
 background-color:black;
}
.home-content .big-box2 .small-box:nth-child(2) .small-box-image img{
	margin-left:30%;
	width:20%;
}
.home-content .big-box2 .small-box:nth-child(2) .small-box-image h1{
	margin-left:2%;
	margin-top:10%;
	font-size:40px;
	width:20%;
	font-family: 'Bowlby One SC', cursive;

}
.small-box-desc h3{
	font-family: 'lora-regular',sans-serif;
	margin-bottom:2%;
}
.small-box-desc a{
	font-size:13px;
	color:#fcde00;
	text-decoration:none;
	font-family: 'Bowlby One SC', cursive;
	margin-top:-80%;
}
/*HOME RESPONSIVE */
@media only screen and (max-width: 600px) {
	.home{
		height:100vh;
	}
	.home-content{
		flex-direction:column;
		margin-top:20%;
		height:90vh;
	}
	.home-content .big-box{
		width:90%;
		
	}
	.home-content .big-box .small-box{		
		margin-bottom:5%;
	}
	.home-content .big-box .small-box h3{		
		font-size:15px;
		line-height:1.2;
		padding:5px 5px;
	}
	.home-content .big-box .small-box h4{		
		font-size:10px;
		padding:5px 5px;
	}

	.home-content .big-box2 .small-box h3{		
		font-size:12px;
	}
	
	.home-content .big-box2 .small-box a{		
		font-size:12px;
		margin-top:20%;
	}
	.home-content .big-box2{
		margin-top:5%;
		width:90%;
		display:flex;
		flex-direction:row;
	}
	.home-content .big-box2 .small-box{
		height:65%;
		width:49%;
	}
	.home-content .big-box2 .small-box:nth-child(2){
		margin-top:0;
		
		margin-left:2%;
	}
	.home-content .big-box2 .small-box:nth-child(2) .small-box-image img{

		margin-left:10%;
		

	}
	.home-content .big-box2 .small-box:nth-child(2) .small-box-image h1{

		margin-top:30%;
		font-size:20px;

	}
	.small-box:nth-child(1) .small-box-desc{
		padding-top:5%;
	}

}

/*HEADERS*/

.headers{
    text-align: center;
    padding-top: 4%;
    margin-bottom: -2%;
     color: white;
    
}
.headers h3 {
	font-family: 'lora-regular',sans-serif;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ff2323;
    margin-top: 0;
    margin-bottom: 0;
}

.headers h1 {
	font-family: 'Bowlby One SC', cursive;
    font-size: 70px;
    line-height: 1.3;
    letter-spacing: 4px;
    margin-top: 0;
    margin-bottom: 0;
}
/*HEADERS*/
@media only screen and (max-width: 600px) {

    .headers h3 {
		font-size: 12px;

	}

	.headers h1 {

		font-size: 33px;

	}
}

/*PLOT*/
.plot{
	width:100%;
	display:flex;
	flex-direction:column;
	height:100vh;
	background-color: #1e1e21;
 
}

.plot-content{
	width:90%;
	margin:0 auto;
	margin-top:9%;
	display:flex;
	flex-direction:row;
}
.plot-content .big-box:nth-child(1){
	background-image:url("../images/city.gif"); 
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;
	height:50vh;

}
.plot-content .big-box:nth-child(2){
	background-image:url("../images/texture.jpg");
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;	
	height:50vh;

}
.typewriter{
	font-family: 'Bowlby One SC', cursive;
    font-size: 25px;
    line-height: 1.3;
    letter-spacing: 4px;
    margin-top: 2%;
    margin-left: 2%;
}
/*PLOT RESPONSIVE*/
@media only screen and (max-width: 600px) {
	.plot{
		width:100%;
		height:90vh;
	}
	.plot .headers{
		margin-top:-10%;
	}
	.plot-content .big-box:nth-child(1){
	background-position:50%; 
	height:40vh;
}
	.plot-content .big-box:nth-child(2){
	background-position:50%; 
	height:30vh;
}
	.typewriter{
		font-size: 12px;
	}
	.plot-content{
		flex-direction:column;
	}
	.plot-content .big-box{
		width:90%;
		

	}
}
/*ABOUT*/
.about{
	width:100%;
	height:105vh;
	background-image:url("../images/pattern_inv.png"); 
	background-repeat:no-repeat; 
	background-size:cover; 
	background-color: #1e1e21;

}

.about-content{
	width:90%;
	margin:0 auto;
	margin-top:9%;

}
.big-wide-box{
	background-image:url("../images/texture.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;	
	height:60vh;
	width:100%;
	display:flex;
	flex-direction:row;

}

.big-wide-box .box{
	width:40%;
	height:100%;
}

.big-wide-box .box:nth-child(2){
	border-right:1px solid gray;
	width:30%;

}

.big-wide-box .box h4{
	font-family: 'Bowlby One SC', cursive;
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: 4px;
    margin-top: 4%;
    margin-left: 6%;
	text-align:center;
}
.big-wide-box .box img{
	width: 60%;
	margin-left:20%;
}
.about-stats {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
	flex-wrap:wrap;
	width:30%;
	
}
.stats-col {
	width:50%;
    padding: 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}
.stats-col:last-child {
    border-right: none;
}
.stats-col:nth-child(2){
    border-right: none;
}

.stats-count {
	font-family: 'Bowlby One SC', cursive;
    font-size:50px;
    line-height: 1;
    color: white;
}

.about-stats h5 {
	font-family: 'lora-regular',sans-serif;
    margin-top: 20px;
    color: #fcde00;
    font-size: 25px;
    line-height: 1.3;
    position: relative;
}
/* ABOUT RESPONSIVE */

@media only screen and (max-width: 600px) {
	.about{
		height:135vh;
	}
	.about-content{
		width:90%;
	}
	.big-wide-box{
		display:flex;
		flex-direction:column;
		height:110vh;
	}
	
	.big-wide-box .box{
		width:100%;
		margin:0 auto;
	}
	.big-wide-box .box img{
		width:100%;

	}
	.big-wide-box .box h4{
		font-size: 10px;
	}
	.big-wide-box .box:nth-child(2){
		border-right:0;
		margin-top:-30%;
		margin-bottom:-50%;
	}
	.about-stats{
		margin:0 auto;
		width:100%;
	}
	.stats-col{
		width:50%;
	}
	.stats-col:nth-child(3){
		margin-left:0%;
	}
	.stats-col:nth-child(4){
		margin-left:0%;
	}
	.stats-count {
		font-size:25px;
	}
	.about-stats h5{
		font-size: 15px;
	}
}
/*CHARACTERS*/
.characters{
	width:100%;
	display:flex;
	flex-direction:column;
	height:110vh;
	background-image:url("../images/pattern.png"); 
	background-repeat:no-repeat; 
	background-size:cover;
	background-color:#1a1a1a;	
}
.char-content{
	width:90%;
	margin:0 auto;
	margin-top:9%;
	display:flex;
	flex-direction:row;
}
.char-content div{
	cursor:pointer;
	background-image:url("../images/texture.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;	
	width:18%;
	margin-left:2%;
}
.char-content div:nth-child(4){
width:35%;
margin-top:5%;
margin-bottom:5%;

}
.char-content div:nth-child(1){

	margin-left:0%;
}
.char-content div img{
	margin-left:5%;
	width:90%;
}
#bosses{
	margin-top:5%;

}
.char-content div:nth-child(4) h3 {
	margin-left:5%;
	padding-top:1%;
	font-family: 'Bowlby One SC', cursive;
    font-size: 18px;
    letter-spacing: 4px;
    margin-top: 0;
	color:#fcde00;
    margin-bottom: 0;
}

.modal-content{
	width:200%;
	right:50%;
	background-color:#1a1a1a;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url("../images/pattern2.png");
}
.modal-header h2 {
	font-family: 'Bowlby One SC', cursive;
    font-size: 25px;
	line-height:1.3;
    margin-top: 0;
    color: white;
	text-align:center;
}
.modal-body p{
	width:50%;
	text-justify:right;
}
.signatureMoves{
	padding-top:2%;
}
.signatureMoves h3 {
	font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
	line-height:1.3;
    margin-top: 0;
    color: #fcde00;
	text-align:center;
	margin:0 auto;
	padding-bottom:3%;

}
.move {
	width:80%;
	
	margin: 0 auto;
	display:inline-block;
	
	
}
.move-img{
	float:left;
	width:50%;
	
}
.move-img img{
	margin-left:30%;
	width:200px;


}

.move-text{
	float:right;
	width:50%;
	padding-top:7%;
	font-family: 'lora-regular',sans-serif;
    font-size: 15px;
	line-height:1.3;
    margin-top: 0;
	text-align:justify;
	margin:0 auto;
	padding-bottom:3%;
}
.move-text b{
	color:white;
}
.modal-body p {
		margin:0 auto;
		font-family: 'lora-regular',sans-serif;
		font-size: 16px;
		line-height: 1.75;
		text-align: center;
		max-width: 1024px;
		color:white;
}
#adamModel #move2{
	margin-left:20%;

}
#adamModel #move3{
	margin-left:10%;
	width:300px;

}

#adamModel #move4{
	margin-top:-10%;
}
#axelModal .close{
	color:white;
}
#blazeModal .modal-content{
	background-color:#292c30;
}
#blazeModal .close{
	color:white;
}
#blazeModal #move3{
	margin-top:-20%;
	margin-left:20%;
	width:170px;
}
#blazeModal #move4{
	margin-top:5%;
	
	width:170px;
}
#blazeModal #move1{
	margin-left:15%;

}
#adamModal .modal-content{
	background-color:#fcde00;
	color:black;
}
.move-text b{
	
	letter-spacing:1px;
}
#adamModal .move-text b{
	color:black;
	letter-spacing:1px;
}
#adamModal .modal-body p{
	color:black;
}
#adamModal .modal-title{
	color:brown;
}
#adamModal .signatureMoves h3 {
    color: brown;
}
/* CHARACTERS RESPONSIVE */

@media only screen and (max-width: 600px) {
	.characters{
		
		height:90vh;

	}
	.char-content{
		flex-wrap:wrap;
	}
	.char-content div{
		width:32%;
	}
	.char-content div:nth-child(4){
		width:90%;
		margin-left:5%;
	}
	.modal-content{
		width:100%;
		margin-left: 50%;
	}
	.modal-body p {
		width:70%;
		font-size: 12px;
	
	}
	.move-text{
	width:60%;
    font-size: 12px;

	}
	.move-img{
	width:40%;


	}
	.move-img img{
		margin-left:30%;
		width:100px;


	}
	#axelModal #move2{
		margin-left:13%;
		
	}
	#axelModal #move3{
		width:150px;
		margin-left:1%;
		
	}
	#axelModal #move4{
		margin-top:-20%;
		
	}
	#blazeModal #move3{
		width:90px;
		margin-left:25%;
		
	}
	#blazeModal #move4{
		width:90px;
	
	}
	#adamModal #move1{
		margin-left:5%;
	
	}
	#adamModal #move2{
		margin-left:5%;
		margin-top:5%;
	
	}
}


/*Items*/
.items{
	width:100%;
	display:flex;
	flex-direction:column;
	height:100vh;
	background-color:#1a1a1a;

}
.items .headers{
	margin-top:5%;
}
.items-content{
	width:90%;
	margin:0 auto;
	margin-top:9%;
	display:flex;
	flex-direction:row;
}
.items-item{
	background-image:url("../images/texture.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;	
	width:15%;
	height:50vh;
	margin-left:2%;
}
.items-item:nth-child(1){

	margin-left:0%;
}
.items-icon{
	width:60%;
	margin-left:20%;
}
.items-icon img{
	width:100%;
}
.items-content .items-item:nth-child(3) .items-icon img{
	width:120%;
	margin-top:25%;
}
.items-content .items-item:nth-child(4) .items-icon img{
	width:120%;
	margin-top:25%;
}
.items-content .items-item:nth-child(5) .items-icon img{
	width:70%;
	margin-left:20%;
}
.items-content .items-item:nth-child(6) .items-icon img{
	width:102%;
	margin-top:5%;
	margin-bottom:-10%;
	
}
.items-text{
	text-align:center;
}
.items-text h3{
	font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
    letter-spacing: 4px;
	color:#fcde00;  
}
.items-text p{
	font-family: 'lora-regular',sans-serif;
	line-height:1.3;
	font-size:15px;
	padding:10px 10px;
}
/* ITEMS RESPONSIVE */

@media only screen and (max-width: 600px) {
	.items{
		height:65vh;
	}
	.items-content{
		flex-wrap:wrap;
	}
	.items-item{
		width:32%;
		height:20vh;
		margin-left:2%;
	}
	.items-item:nth-child(4){
		margin-left:0%;
	}
}
/*WEAPONS*/
.weapons{
	width:100%;
	display:flex;
	flex-direction:column;
	height:100vh;
	background-color:#1a1a1a;
	background-repeat:no-repeat;
	background-size:cover;
	background-image:url("../images/pattern2.png");

}
.weapons .headers{
	margin-top:5%;
}
.weapons-content{
	width:90%;
	margin:0 auto;
	margin-top:9%;
	display:flex;
	flex-direction:row;
}
.weapons .items-item{
	width:20%;
}
.weapons-content .items-item:nth-child(2) .items-icon img{
	width:120%;
	margin-top:14%;
}
.weapons-content .items-item:nth-child(4) .items-icon img{
	margin-top:5%;
}
.weapons-content .items-item:nth-child(5) .items-icon img{
	margin-top:5%;
	margin-left:8%;
}
/*WEAPONS RESPONSIVE*/
@media only screen and (max-width: 600px) {
	.items-text h3{
		font-size:12px;
	}
	.items-text p{
		font-size:10px;
	}
	.weapons{
		height:80vh;
	}
	.weapons-content{
		flex-wrap:wrap;
		width:90%;
	}
	.weapons-content .items-item{
		width:32%;
		height:30vh;
		margin-left:2%;
	}
	.weapons-content .items-item:nth-child(1){
		margin-left:0%;
	}
	.weapons-content .items-item:nth-child(4){
		margin-left:18%;
	}

}
/*MEDIA*/
.media{
	width:100%;
	display:flex;
	flex-direction:column;
	height:370vh;
	background-color:#17171a;
	background-image:url("../images/pattern_inv.png"); 
	background-repeat:no-repeat; 
	background-size:cover;
}
.media .headers{
	margin-top:5%;
}
.media-content{
	width:70%;
	margin:0 auto;
	margin-top:9%;
	display:flex;
	height:59%;
	flex-direction:row;
	flex-wrap:wrap;
	background-color:#292c30;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;	
}
.media-content div{
	width:49%;
}
.media-content div:nth-child(1){
	margin-left:1%;
}
.media-content div:nth-child(1){
	margin-top:1%;
}
.media-content div:nth-child(2){
	margin-top:1%;
}
.media-content div:nth-child(3){
	margin-top:-9%;
	margin-left:1%;
}

.media-content div:nth-child(5){
	margin-left:1%;
	margin-top:-14%;
}	
.media-content div:nth-child(7){
	margin-left:1%;
	border:1px solid gray;
	background-color:#3a3b3d;
	margin-top:-17%;
}
.media-content div:nth-child(8){
	width:80%;
	margin-left:10%;
	margin-top:1%;
	background-color:#292c30;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;	

}
.media-content div:nth-child(8) iframe{
	width:98%;
	margin-left:1%;
	margin-top:1%;
	margin-bottom:1%;
	height:500px;

}
.media-content div a{
	width:100%;
}
.media-content div a img{
	width:100%;
}

/*MEDIA RESPONSIVE*/
@media only screen and (max-width: 600px) {
	.media{
		height:145vh;
	}
	.media .headers H1{
		font-size:25px;
	}
	.media-content{
		width:90%;
		height:51%;
	}

	.media-content div:nth-child(8) iframe{
		height:200px;
		}
}
/*COMMUNITY*/
.community{
	width:100%;
	display:flex;
	flex-direction:column;
	height:120vh;
	background-color:#232326;
	background-image:url("../images/pattern_inv2.png"); 
}
.community .headers{
	margin-top:3%;
}
.community-content{
	width:80%;
	margin:0 auto;
	margin-top:9%;
	background-image:url("../images/texture.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow: rgba(255, 255, 255, 0.15) 0 0 25px;
    box-sizing: border-box;	
}
.sliders{
	color:white;
}
.sliders button{
	width:20%;
	color:white;
}
.slide p{
    font-family: "lora-regular", serif;
    font-size: 25px;
    line-height: 1.7;
    color: gray;
    margin-top: 5%;
	text-align:center;
}

.slide img{
	border-radius: 50%;
    margin: 0 auto;
	width:20%;
}
.slide div{
    margin: 2% auto;
	text-align:center;
}

.nome {
	display:block;
	font-family: 'Bowlby One SC', cursive;
    color: white;
}

.trabalho{
    font-family: "lora-regular", serif;
    font-size: 25px;
	color:white;
}
/*COMMUNITY RESPONSIVE*/
@media only screen and (max-width: 600px) {
	.community{
		height:85vh;
	}
	.slide p{
    font-family: "lora-regular", serif;
    font-size: 18px;
    line-height: 1.7;
    color: gray;
    margin-top: 5%;
	text-align:center;
	}
	.sliders button{
		margin-top:20%;
		width:30%;
		color:white;
	}
}
footer{
	padding-top:10%;
	background-image:url("../images/pattern2.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-color#232326;

}

.footer-main {
    text-align: center;
	width:90%;
	display:flex;
	flex-direction:column;
	margin:0 auto;
}
.footer-logo{
	width:90%;
	display:flex;
	flex-direction:column;
	margin:0 auto;

	}
.footer-logo p{
	padding-top:5%;
	width:100%;
	margin:0 auto;
	font-family: "lora-regular", serif;
}


.footer-logo .logos{
	display:flex;
	flex-direction:row;
	width:100%;	
}
.footer-logo .logos div{
	width:50%;	
}

.footer-logo .logos div img{
	width:30%;	
}
.footer-logo .logos div:nth-child(1) img{
	width:25%;	
}
.footer-notify{
	margin:0 auto;
	width:50%;
}
.footer-notify h4{
	font-family: 'Bowlby One SC', cursive;
	font-size: 18x;
	color:white;
	margin-top:5%;
}
.footer-notify p{
	margin-top:8%;
}
.footer-notify input[type=submit] {
    color: #FFFFFF;
    background: blue;
    border-color: #fcde00;
    padding: 13px 20px;
	width:35%;
		font-family: 'Bowlby One SC', cursive;

	
}
.footer-notify input[type="email"] {
    width: 100%;
    height: 2%;
	width:60%;
    padding: 20px 160px 20px 60px;
    background: url(../images/email-icon.png) 20px center no-repeat, rgba(0, 0, 0, 0.1);
    background-size: 24px 16px, auto;
    color: white;
	opacity:1;
	border:none;
}

.footer-notify input[type="email"]:focus {
    color: white;
}

.footer-notify input[type="email"]::-webkit-input-placeholder {
    color: white;
}
.footer-bottom {
    margin-top: 2%;
    text-align: center;
    font-size: 15px;
	font-family: "montserrat-regular", sans-serif;
	padding-bottom:20%;

}
/*FOOTER RESPONSIVE */
@media only screen and (max-width: 600px) {
	.footer-logo p {
		display:none;
	}
	.footer-logo .logos div img{
		width:100%;	
	}
	.footer-logo .logos div:nth-child(1) img{
		width:60%;	
		margin-top:6%;
		margin-left:-10%;
	}
	.footer-notify{
		width:80%;
	}
	.footer-notify input[type="email"] {
		padding: 20px 80px 20px 70px;
		width:100%;

	}
	.footer-notify input[type=submit] {
		width:100%;
	}

}
/*GO TO TOP BUTTON */
.go-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 600;
    display: none;
}

.go-top a, .go-top a:visited {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    background: black;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.go-top a i, .go-top a:visited i {
    font-size: 18px;
    line-height: inherit;
}

.go-top a:hover, .go-top a:focus {
    color: white;
}
@media only screen and (max-width: 600px) {

	.go-top a, .go-top a:visited {
	
		height: 40px;
		width: 40px;
		line-height: 40px;

	}
	.go-top a i, .go-top a:visited i {
    font-size: 15px;
	

	}
}
